# Node
backend/node_modules
frontend/node_modules

# Python
ml-service/__pycache__
ml-service/crop_model.pkl
ml-service/*.pyc

# Environment variables - NEVER push these
backend/.env
ml-service/.env

# Vite build
frontend/dist

# Dataset - too large for GitHub
ml-service/Crop_recommendation.csvbackend/uploads/
